<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand pjax" href="/">
            Blog
          </a>
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <% if current_user %>
                <% if can? :create ,Post %>
                  <li> <a href=<%= new_post_path %> ><i class="icon-plus"></i> New post</a> </i> </li>
                <% end %>
                <% if can? :access, :rails_admin %>
                  <li><a href="/admin">Dashboard</a></li>
                <% end %>
                <li><%= link_to current_user.email, "/admin/user/#{current_user.id}/edit" %></li>
                <li><a href="/users/sign_out" data-method="delete" rel="nofollow"><span class="label label-important">Log out</span></a></li>
                <li>
                <%= gravatar current_user ,s: 30, style: "padding-top:5px" %>
              <% else %>
                <li><a href="/users/sign_in"><span class="label label-important">Sign In</span></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron masthead">
      <div class="container">
        <a href="/">
          <%= image_tag 'cropped-lungi.jpg' %>
        </a>
      </div>
    </div>
    <div class="container">
      <% if notice %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= notice %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
